<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ml130"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ml130"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hlbmerge"
        tools:targetApi="31">
        <activity
            android:name=".activity.impl.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="um.63b302eed64e6861390b324f" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".activity.impl.SettingsActivity" />
        <activity android:name=".activity.impl.AboutActivity" />
        <activity android:name=".activity.impl.HtmlActivity" />
        <activity
            android:name=".activity.impl.PlayVideoActivity"
            android:configChanges="orientation|screenSize" />
    </application>

</manifest>